In [6]:
import pandas as pd
dp= pd.DataFrame()
print (dp)

Empty DataFrame
Columns: []
Index: []

In [12]:
import pandas as pd 
emp=pd.Series(['dabaji','surath','sirath','yavan','keehvya'])
id=pd.Series([80,90,28,57,49])
frame={'EMP':emp,'ID':id}
result=pd.DataFrame(frame)
print(result)

       EMP  ID
0   dabaji  80
1   surath  90
2   sirath  28
3    yavan  57
4  keehvya  49

In [13]:
print("\n Extraction one colunm :\n")
print(result['EMP'])

 Extraction one colunm :

0     dabaji
1     surath
2     sirath
3      yavan
4    keehvya
Name: EMP, dtype: object

In [21]:
print("\n Adding new Colunms:\n")

result['Age']=pd.Series([78,22,47,52,62])
print(result)

 Adding new Colunms:

       EMP  ID  Age
0   dabaji  80   78
1   surath  90   22
2   sirath  28   47
3    yavan  56   52
4  keehvya  70   62

In [23]:
print("\n deleting new column:\n")
del result['Age']
print(result)
print("\n Extracting the second row :\n")
print(result.loc[1])
print("slice row :\n",result[1:4])

 deleting new column:

       EMP  ID
0   dabaji  80
1   surath  90
2   sirath  28
3    yavan  56
4  keehvya  70

 Extracting the second row :

EMP    surath
ID         90
Name: 1, dtype: object
slice row :
       EMP  ID
1  surath  90
2  sirath  28
3   yavan  56

In [25]:
d2=pd.DataFrame([['vicky',100],['rasid',110]],columns=['EMP','ID'])
print("\n Addding new rows values:\n", pd.concat([result,d2]))

 Addding new rows values:
        EMP   ID
0   dabaji   80
1   surath   90
2   sirath   28
3    yavan   56
4  keehvya   70
0    vicky  100
1    rasid  110

In [26]:
print("\n Deleting particular row:\n",result.drop(2))
print(result.loc[1])

 Deleting particular row:
        EMP  ID
0   dabaji  80
1   surath  90
3    yavan  56
4  keehvya  70
EMP    surath
ID         90
Name: 1, dtype: object