In [14]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n SquareROOT  of DataFrame:\n",info.apply(np.sqrt))
print("\n sum of each column \n ",info.apply(np.sum,axis=0))
print("\n sum of each row \n ",info.apply(np.sum,axis=1))

DataFrame.apply function:


 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 SquareROOT  of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column
  S    12
R    36
dtype: int64

 sum of each row
  0    12
1    12
2    12
3    12
dtype: int64

In [15]:

info1=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print(info1)
print(info.agg(['min','max']))

   x  y  z
0  2  4  6
1  1  3  5
2  5  8  7
     S  R
min  3  9
max  3  9

In [16]:
d2=pd.DataFrame([['Sai',88],['poo',70]],columns=['EMP','ID'])

print(d2)

   EMP  ID
0  Sai  88
1  poo  70

In [17]:
#adding a new column
d2['Age']=[20,18]
print(d2)

   EMP  ID  Age
0  Sai  88   20
1  poo  70   18

In [18]:
d=d2.assign(Sex=['Male','Female'])
print(d)

   EMP  ID  Age     Sex
0  Sai  88   20    Male
1  poo  70   18  Female

In [19]:
#sorting 
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

       col3      col4
3 -0.903871 -0.688619
2  0.896529  2.738774
0 -0.204729  0.381077
4 -1.044053  1.150060
1 -0.171364  0.302201

In [21]:
info2=info.sort_index()
print(info2)

       col3      col4
0 -0.204729  0.381077
1 -0.171364  0.302201
2  0.896529  2.738774
3 -0.903871 -0.688619
4 -1.044053  1.150060

In [28]:
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
4 -1.044053  1.150060
3 -0.903871 -0.688619
0 -0.204729  0.381077
1 -0.171364  0.302201
2  0.896529  2.738774

In [31]:
left=pd.DataFrame({'id':[1,2,3],'name':['barath','narayanan','ramaguptabalaji'],'sub':['sub1','sub2','sub3']})
right=pd.DataFrame({'id':[1,2,3],'name':['kumar','chandra','murugaa'],'sub':['sub1','sub2','sub3']})
print(pd.merge(left,right,on='id'))

   id           name_x sub_x   name_y sub_y
0   1           barath  sub1    kumar  sub1
1   2        narayanan  sub2  chandra  sub2
2   3  ramaguptabalaji  sub3  murugaa  sub3