In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['sai','subu','diya','yuvi','rithi','sangi'],'B':['one','two','three','one','three','two'],
                 'C':np.random.randint(5,size=6),
                 'D':np.random.randint(5,size=6),
                'E':np.random.randint(5,size=6),})
print(df)

       A      B  C  D  E
0    sai    one  2  4  3
1   subu    two  0  1  0
2   diya  three  0  1  3
3   yuvi    one  0  4  3
4  rithi  three  4  1  1
5  sangi    two  2  0  4

In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['sai','subu','diya','yuvi','rithi','sangi','sai','poo'],'B':['one','two','three','one','three','two','one','two'],
                 'C':np.random.randint(5,size=8),
                 'D':np.random.randint(5,size=8)})
print(df)
df1=df.groupby('A',as_index=False)['C'].sum()
print(df1)

       A      B  C  D
0    sai    one  4  1
1   subu    two  0  4
2   diya  three  4  0
3   yuvi    one  2  3
4  rithi  three  0  4
5  sangi    two  2  2
6    sai    one  3  3
7    poo    two  3  2
       A  C
0   diya  4
1    poo  3
2  rithi  0
3    sai  7
4  sangi  2
5   subu  0
6   yuvi  2

In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['sai','subu','diya','yuvi','rithi','sangi','sai','poo'],'B':['one','two','three','one','three','two','one','two'],
                 'C':np.random.randint(5,size=8),
                 'D':np.random.randint(5,size=8)})
print(df)
df1=df.groupby(['A','B'],as_index=False)['C','D'].sum()
print(df1)

       A      B  C  D
0    sai    one  1  1
1   subu    two  4  4
2   diya  three  4  3
3   yuvi    one  1  2
4  rithi  three  2  4
5  sangi    two  2  3
6    sai    one  1  2
7    poo    two  2  2
       A      B  C  D
0   diya  three  4  3
1    poo    two  2  2
2  rithi  three  2  4
3    sai    one  2  3
4  sangi    two  2  3
5   subu    two  4  4
6   yuvi    one  1  2

/var/folders/mn/_1cjsyfs179_gkbqhtqnmf640000gp/T/ipykernel_1262/3290560981.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df.groupby(['A','B'],as_index=False)['C','D'].sum()

In [5]:
import pandas as pd
df=pd.DataFrame({'Category':['A','B','C','A','B','C'],'Sales':[100,200,150,150,130,200],'Profit':[10,15,20,25,30,15]})
print("\n original DataFrame:\n",df)

 original DataFrame:
   Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15

In [8]:
df_grouped=df.groupby('Category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df_grouped)

         Sales        Profit
           sum   mean    sum max
Category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20